<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=1">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="description" content="@@description">
<link rel="apple-touch-icon" href="img/favicon/touchicon-152.png">
<link rel="icon" href="img/favicon/favicon-96.png">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="img/favicon/tileicon-144.png">
<title>@@title</title>
<script type="text/javascript">
    var fired = false;
    
    window.addEventListener('scroll', () => {
        if (fired === false) {
            fired = true;
            setTimeout(() => {
                !function (e, t, a, n, g) {
                    e[n] = e[n] || [], e[n].push({"gtm.start" : (new Date).getTime(), event : "gtm.js"});
                    var m = t.getElementsByTagName(a)[0], r = t.createElement(a);
                    r.async = !0, r.defer = !0, r.src = "https://www.googletagmanager.com/gtm.js?id=GTM-PVB2B34", m.parentNode.insertBefore(r, m)
                }(window, document, "script", "dataLayer")

                (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://cdn.jsdelivr.net/npm/yandex-metrica-watch/tag.js", "ym"); ym(12923497, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); 
            }, 3000)
        }
    });
</script>
<link rel="preconnect" href="https://cdn.livechatinc.com">
<link rel="preconnect" href="https://www.google-analytics.com">
<link rel="preconnect" href="https://www.googleadservices.com">
<link rel="preconnect" href="https://cdn.chatbot.com">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@orbitsoft">
<meta name="twitter:creator" content="@OrbitSoftTeam">
<meta name="twitter:title" content="OrbitSoft - IT-разработка и решения для вашего бизнеса">
<meta name="twitter:description" content="OrbitSoft работает с клиентами из разных отраслей: от стартапов на стадии гипотезы до среднего и крупного бизнеса, ориентированного на масштабирование. Мы эксперты в разработке кастомизированных рекламных решений.">
<meta name="twitter:image" content="https://orbitsoft.com/ru/img/orbitsoft.jpg">
<meta property="og:title" content="OrbitSoft - IT-разработка и решения для вашего бизнеса">
<meta property="og:description" content="OrbitSoft работает с клиентами из разных отраслей: от стартапов на стадии гипотезы до среднего и крупного бизнеса, ориентированного на масштабирование. Мы эксперты в разработке кастомизированных рекламных решений.">
<meta property="og:type" content="website">
<meta property="og:url" content="https://orbitsoft.com/ru/">
<meta property="og:image" content="https://orbitsoft.com/ru/img/orbitsoft.jpg">
<link rel="alternate" hreflang="ru" href="https://orbitsoft.com/ru/">
<link rel="alternate" hreflang="en" href="https://orbitsoft.com">
<link rel="alternate" hreflang="x-default" href="https://orbitsoft.com">
<meta name="facebook-domain-verification" content="pkz0mv2n4lmgevhvvujm3unf6j4zi4">